<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=AMTVICTORICURM\SQLEXPRESS; Initial Catalog=JizanOMS; Persist Security Info=True; User ID=sa; Password=tmf101010" providerName="System.Data.SqlClient"/>-->
    <add name="DefaultConnection" connectionString="Data Source=172.27.7.216; Initial Catalog=JizanOMS; Persist Security Info=True; User ID=sa; Password=TMF@2017" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
